<div data-ng-app="GemstoreApp">
  <div data-ng-controller="GemstoreCtrl">
    <h1>{{greeting}}</h1>
    <input type="text" data-ng-model="greeting">
    <button data-ng-click="alertGreeting()">Alert</button>
  </div>
</div>
