/*
*= require_tree .
*= require_self
*/

#centerish {
  padding-left: 200px;
  width: 800px;
}

.minify {
  width: 90px;
  border: none;
  margin-bottom: 0;
}

.under {
  text-decoration: underline;
}

.table1 {
  td {
    padding: 0.5em;
  }
}

ul {
  list-style-type: none;
}



