<div data-ng-controller="StoreController">
  <!--  Store Header  -->
  <div  id="centerish">
    <header>
      <h1 class="text-center">Boz Angeles Crafted Gems</h1>
      <h2 class="text-center">a Rails-Angular store</h2>
    </header>

      <div class="list-group">
        <div class="list-group-item" data-ng-repeat="product in products">
          <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>
          <div data-product-gallery></div>
          <div data-product-tabs></div>
        </div>

      </div>
  </div>
</div>

